@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap');

:root {
    --font: 'Inter', sans-serif;
    --light: #fff;
    --mid: #cecece;
    --dark: #1e1e1e;
    --success: #55ff4d;
    --error: #d60017;
    --text-color: #5b5860;
    --over: #bf9cf8;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    background: var(--light);
    font-family: var(--font);
}

h1 {
    margin-bottom: 2rem;
}

.draggable-list {
    width: 400px;
    color: var(--text-color);
    border: 1px solid var(--mid);
    list-style: none;
}

.draggable-list li {
    display: flex;
    flex: 1;
}

.draggable-list li:not(:last-of-type) {
    border-bottom: 1px solid var(--mid);
}

.draggable-list .number {
    background: var(--text-color);
    color: var(--light);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 60px;
    height: 70px;
}

.draggable-list li.over .draggable {
    background: var(--over);
}

.draggable-list .item {
    margin: 0 20px 0 0 ;
}

.draggable-list .item span {
    font-size: 0.8rem;
    margin-top: 0.5rem;
}

.draggable-list li.right .item {
    color: var(--success);
}

.draggable-list li.wrong .item {
    color: var(--error);
}

.draggable {
    cursor: pointer;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.check-btn {
    background: var(--dark);
    color: var(--light);
    font-size: 1rem;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    margin: 1rem 0;
    cursor: pointer;
}

.check-btn:active {
    transform: scale(0.97);
}